<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Myサイト</title>
    <style>
      body {
        margin: 0;
        font-family: system-ui, sans-serif;
        background: #f7f7f7;
        color: #222;
      }

      main {
        max-width: 800px;
        margin: 0 auto;
        padding: 80px 24px;
      }

      h1 {
        font-size: 48px;
        margin-bottom: 16px;
      }

      p {
        font-size: 20px;
        line-height: 1.8;
		color: red;
      }
    </style>
  </head>
  <body>
    <main>
      <h1>私のサイトへようこそ</h1>
      <p>
        これはAstroとCloudflare Pagesで公開したサイトです。
      </p>
      <p>
        Cursorで編集して、GitHubにpushすると自動で公開サイトが更新されます。
      </p>
	   <p>
        サイトが自動で更新されるなんて最高だ！
      </p>
    </main>
  </body>
</html>